<div class="list-item h-entry">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    

    <div class="list-blog-padding">
<section class="section-gap studio-area">
                                
			<div class="overlay overlay-bg"><br>
                <h2 style="color:#787878">{{ page.title }}</h2>
            </div>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-md-4 col-sm-6 text-center">
						<div class="studio-thumb">
							<img src="/images/Hanako.gif">
						</div>
					</div>
					<div class="col-md-8 col-sm-6">
						<div class="studio-content">
							{{ post.content }}
						</div>
					</div>
				</div>
			</div>
		</section>
{% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> {{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }} <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </p>
    {% endif %}
    </div></div>